* {
  font-family: Helvetica, Arial, sans-serif;
}
/* DICE */

button {
  background-color: #eff5ff;
  border-radius: 6px;
  border: none;
  color: #738cba;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

/* MIND SKILLS */

.button2 {
  background-color: #586d91;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  width: 86px;
  cursor: pointer;
  text-align: center;
}

.button22 {
  background-color: #586d91;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  width: 94px;
  cursor: pointer;
  text-align: center;
}

/* MIGHT SKILLS */

.button3 {
  background-color: #3f5272;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  width: 84px;
  cursor: pointer;
  text-align: center;
}

.button33 {
  background-color: #3f5272;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  width: 88px;
  cursor: pointer;
  text-align: center;
}

/* MAGIC SKILLS */

.button4 {
  background-color: #1b2f4f;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  width: 80px;
  cursor: pointer;
  text-align: center;
}

.button44 {
  background-color: #1b2f4f;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  width: 94px;
  cursor: pointer;
  text-align: center;
}

/* CAPABILITIES */

.button5 {
  background-color: #515d69;
  border-radius: 6px;
  border: none;
  color: #d5d9de;
  padding: 10px;
  text-transform: uppercase;
  width: 50px;
  cursor: pointer;
  text-align: center;
}

/* CORE MIND / MIGHT / MAGIC */

.button6 {
  background-color: #bbc2c7;
  border-radius: 6px;
  border: none;
  color: #4a4a4a;
  padding: 10px;
  text-transform: uppercase;
  width: 64px;
  cursor: pointer;
  text-align: center;
}

/* BATTLE STATS */

.button8 {
  background-color: #46484a;
  border-radius: 6px;
  border: none;
  color: #c9c9c9;
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  cursor: pointer;
  text-align: center;
}

/* WEAPONS */

.button9 {
  background-color: #333333;
  border-radius: 6px;
  border: none;
  color: #c9c9c9;
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  cursor: pointer;
  text-align: center;
}

/* New Spell */

.button10 {
  background-color: #eff5ff;
  border-radius: 6px;
  border: none;
  color: #738cba;
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
  cursor: pointer;
  text-align: center;
}

#rolldisplay {
  height: 150px;
  width: 150px;
  padding: 40px;
  border: 1px solid #333333;
  border-radius: 10px;  
  vertical-align: middle;
  display: table-cell;
  font-size: 30px;
  color: #fff;
  text-align: center;
}
body {
  background-image: url('bg.gif');
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-attachment: fixed;
  background-filter: grayscale(100%);
}
#roller {
  z-index: 99999;
  position: static;
}

/* toggle display to block when release comes */
#toggletecbutton {
  z-index: 77776;
  position: absolute;
  right: 30px;
  top: 180px;
  display: block;
}
#toggleplayerk {
	  display: none;
	}
	
	
	
#togglebatbutton {
  z-index: 77776;
  position: absolute;
  right: 30px;
  top: 140px;
  display: block;
}
#togglebatplayer {
	  display: none;
	}
	
	
	
	
#toggleatmobutton {
  z-index: 77776;
  position: absolute;
  right: 30px;
  top: 60px;
  display: block;
}
#toggleatmoplayer {
	  display: none;
	}
	
/* toggle display to none when release comes */
#toggleambbutton {
  z-index: 77776;
  position: absolute;
  right: 30px;
  top: 180px;
  display: none;
}
#toggleambplayer {
	  display: none;
	}	
	
#toggleemotbutton {
  z-index: 77776;
  position: absolute;
  right: 30px;
  top: 100px;
  display: block;
}
#toggleemotplayer {
	  display: none;
	}
	
/* toggle display to block when release comes */
#togglealtambbutton {
  z-index: 77776;
  position: absolute;
  right: 30px;
  top: 220px;
  display: block;
}	
	
#togglecharbutton {
  z-index: 77776;
  position: absolute;
  right: 30px;
  top: 220px;
  display: block;
}
#togglecharplayer {
	  display: none;
	}
	
/*toggle display to block when release comes */
#togglealtcharbutton {
  z-index: 77776;
  position: absolute;
  right: 30px;
  top: 260px;
  display: block;
}
	
.buttonpick {
  background-color: #4c1621;
  border-radius: 6px;
  border: none;
  color: #c1b2b5;
  padding: 10px;
  text-transform: uppercase;
  width: 90px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
}


#popup {
    width: 300px;
    padding-right: 5px;
    padding-top: 8px;
    position: fixed;
    top: 60px;
    cursor: pointer;
    text-align: center;
    left: 30px;
    padding-left: 5px;
    padding-bottom: 0.5px;
    background-color: #1a122b;
    color: #d3cce2;
    border-radius: 10px;
    font-family: "Open Sans";
}